<html>

<head>

</head>

<!-- insert graph.css stylesheet -->

	<h3>

		Example of A / A data visualization

	</h3>

	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

	<%= bar_chart({"Gallons" => 10, "Electricity (KWH)" => 5, "Therms" => 7}) %>

</div>

</html>
