<div>
	<h3>
		Punch List
	</h3>
	<ul>
		<li>
			Be amazing with git
		</li>
		<li>
			I can only get the user.profile relationship to work with a has_many :profiles.  Maybe have to change the controller name?
		</li>
	</ul>
</div>

<div>
	<h3>
		Virginia
	</h3>
	<ul>
		<li>
			Profile Model
		</li>

		<li>
			BootStrap
		</li>
		<li>
			Ruby/JavaScript graphics to show the metrics:
			-compare current user to self over time across all data
			-compare all users data compare to all other users data 
			-compare against user
		</li>
	</ul>
</div>

<div>
	<h3>
		Chris
	</h3>
	<ul>
		<li>
			Validations for Profile
		</li>
		<li>
			Validations for Utility
		</li>
		<li>
			Validations for Recycling
		</li>
		<li>
			Commuter model/controller
		</li>
		<li>
			Sliders and maps
		</li>
		<li>
			Sophia
		</li>
	</ul>
</div>