

<div class="about-instruction">

	<h3>
		About the Project
	</h3>


	<p class="about-bold">
		How Does it Work?
	</p>
	<p>
		Every user provides basic information about themselves in the form of simple questionaires.  All the results are averaged by catogory.  Once you fill out a minimum amount of info, you can see if you are above or below average.
	</p>


	<p class="about-bold">
		Everything is anonymous
	</p>
	<p>
		 We ask for your email address upon sign up, but no other user will have access to it or any of the other information provided.  No one will know if you are Above Average.  Information rendered on graphs is reletive to the other users, but you will never see other individual's names during comparisons.  
	</p>

	<p class="about-bold">
		But what's the point?
	</p>
	<p>
		You may be surprised at the results.  Maybe there is room for improvement in some catogories.  Some questionares can be filled out daily.  Other's give you some time to make adjustments to your day to day, before showing up again in a few weeks.  Keep filling out the info, make simple changes to your routine, and become Above Average.
	</p>

</div>

