<div class="about-instruction">
	<h3>
	Are You Above Average?
</h3>
	<p>
		Above Average measures the daily habits of New Yorkers. Sign up is easy, and no personal information is required.  See how you compare.
	</p>
</div>



