/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*****
DEVISE
******/

.devise-up, .devise-in {
	color: rgb(3, 14, 43);
	margin: 25px;
	padding: 12px;
	width: 375px;
	background-color: rgba(82, 85, 134, 0.8);
	border-radius: 10px;
}

.devise-in a:hover {
	color: #C92A57;
	text-decoration: none;
}

.devise-up a:hover {
	color: #C92A57;
	text-decoration: none;
}


/*************
FLASH MESSAGES
**************/

.validation-messages ul li {
	list-style: none;
	margin: -12px 0px 0px 0px;
}

.notice, .alert {
	margin: 15px 15px 15px 35px;
	padding: 5px;
	font-size: 18px;
	color: rgb(39, 76, 131);
	text-shadow: 2px 2px 2px rgb(184, 185, 144);
}

/***********
WELCOME PAGE
************/

.welcome-instruction {
	margin: 15px;
}

.about-instruction {
	border-radius: 0px 0px 25px 25px;
	width: 500px;
	margin: 15px;
	padding: 10px;
	background: rgba(255,255,255,0.7);
	background: linear-gradient(rgba(255,255,255,0.09), rgba(255,255,255,0.9));
}

.about-instruction p {
	margin-left: 20px;
	font-size: 18px;
	text-shadow: -2px -2px 3px white;
	line-height: 150%;
}

p.about-bold {
	margin-left: -2px;
	margin-top: 25px; 
	font-size: 20px;
}

.about-instruction h3 {
	font-size: 26px;
}


/************ 
PROFILE FORMS 
************/

.profile-instruction, .utility-instruction, .recycling-instruction, .travel-instruction {	
	width: 325px;
	margin-left: auto;
	margin-right: auto;
}

.profile-form {
	background-color: rgba(225,50,75,5.0);
	background: linear-gradient(rgba(225,50,75,0.4), rgba(225,50,75,5.0));
	padding: 25px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px 45px 45px 0px;
}

.profile-form input {
	width: 200px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.profile-form label {
	text-shadow: -2px 2px 3px black;
	font-weight: 100;
	font-size: 18px;
	letter-spacing: 1px;
	color: rgb(175,250,45);
	width: 200px;
}


/************
UTILITY FORMS 
************/

.utility-instruction {

}

.utility-form {
	background-color: rgba(50,250,75,5.0);
	background: linear-gradient(rgba(50,75,250,0.4), rgba(50,75,250,5.0));
	padding: 25px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px 45px 45px 0px;
}

.utility-form input {
	width: 200px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.utility-form label {
	text-shadow: -2px 2px 3px black;
	font-weight: 100;
	font-size: 18px;
	letter-spacing: 1px;
	color: rgb(255,155,0);
	width: 200px;
}

/**************
RECYCLING FORMS 
**************/

.recycling-instruction {
}

.recycling-form {
	background-color: rgba(50,250,75,5.0);
	background: linear-gradient(rgba(50,75,250,0.6), rgba(50,75,250,5.0));
	padding: 25px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px 45px 45px 0px;
}


.recycling-form input {
	width: 275px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;

}

.recycling-form label {
	text-shadow: -2px 2px 3px black;
	font-weight: 100;
	font-size: 18px;
	letter-spacing: 1px;
	color: rgb(255,155,0);
	width: 325px;

}

#local-slider-value, #compost-slider-value, #fabric-slider-value, #ewaste-slider-value {
	font-family: Arial;
	letter-spacing: 1.5px;
	color: white;
	text-shadow: -1px 2px 2px grey;
	font-size: 17px;
	font-weight: 100;
	padding: 5px;
}


/***********
TRAVEL FORMS 
************/

.travel-instruction {
}

.travel-form {
	background-color: rgba(50,250,75,5.0);
	background: linear-gradient(rgba(50,75,250,0.4), rgba(50,75,250,5.0));
	padding: 25px;
	width: 425px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px 45px 45px 0px;
}


.travel-form input {
	width: 200px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;

}

.travel-form label {
	text-shadow: -2px 2px 3px black;
	font-weight: 100;
	font-size: 18px;
	letter-spacing: 1px;
	color: rgb(233, 182, 102);
	width: 350px;

}

/***********
GRAPHS
************/

.graph-instruction {
}

.graph-body {
	/*background-color: white; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 20px;*/
}
